<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/style.css">
    <title>CarCollection</title>
</head>

<body>
<div id="box">
    <header>
        <!-- Navigation Bar -->
        <h1><a class="index-navigation" href="#"><span>C</span>ARS <span>C</span>OLLECTION</a></h1>
        <nav>
            <a href="#">Catalogue</a>
            <a href="#">Create Car</a>
            <a href="#">Profile</a>
        </nav>
    </header>

    <!-- profile details section -->
    <section id="car-details">
        <h1>Profile Details</h1>
        <div class="info-section">
            <div class="car-header">
                <!-- default profile image (if the user does NOT have any)-->
                    <img class="car-img" src="/static/images/default-profile.png" alt='profile-image'/>
                <!-- if the user has a profile image -->
                    <img class="car-img" src="" alt='profile-image'/>
                <!-- user full name (if any) -->
                <h1>Svetoslava Stoyanova</h1>
                <!-- user username -->
                <p class="description">Username: svetoslava</p>
                <!-- user email -->
                <p class="description">Email: svetoslava@gmail.com</p>
                <!-- user age -->
                <p class="description">Age: 30</p>
                <!-- total price of all cars -->
                <p class="description">Total price: 285.000</p>
                <!-- Edit/Delete buttons -->
                <div class="buttons">
                    <a href="#" class="edit-button">Edit</a>
                    <a href="#" class="delete-button">Delete</a>
                </div>
            </div>
        </div>
    </section>

    <!-- footer -->
    <footer>
        &copy;SoftUni Team 2022. All rights reserved.
    </footer>
</div>
</body>
</html>